.results-container {
  color: black;
  width: 90%;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  border-radius: 5px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

@media only screen and (max-width: 600px){

  .results-container {
    font-size: small;
    width: 100%;
  }

  .child-container {
    display: flex;
    flex-direction: column;
  }
  .amenities {
    font-size: small;
    width: 100%;
  }
  .buttons-row {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    font-size: 10px;
  }
  .redfin-button {
    width: 25vw;
  }
}

.title {
  font-weight: bold;
}

.property-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.child-container {
  display: flex;
  flex-direction: row;
}

.location-container {
  margin: 20px;
}

.price {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.amenities {
  width: 25%;
  font-size: 1.2vw;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-size: 24px;
}

.redfin-button {
  color: #fff;
  background-color: #177fff;
  height: 5vh;
  width: 10%;
  padding-top: 0;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}

.left {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.right {
  text-align: right;
  margin-right: 20px;
}