.results-container {
  color: black;
  width: 90%;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  border-radius: 5px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.amenities-container {
  display: flex;
  flex-direction: row;
}

.redfin-button {
  color: #fff;
  background-color: #c82021;
  height: 46px;
  width: 10%;
  padding-top: 0;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}

.location {
  border: 1px solid black;
}

.price {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.amenities {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}