.search-container {
  border: 2px black solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  height: 8vh;
}

.header {
  border: 2px solid black;
  display: flex;
}

.search-title {
  align-self: center;
  color: black;
  margin-right: 5px;
}

.search-bar {
  width: 30%;
  border-radius: 5px;
  padding-right: 5px;
  height: 4vh;
  align-self: center;
}

.search-button {
  height: 4.5vh;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #177fff;
  color: white;
  align-self: center;
}

.error {
  color: red;
}