.search-container {
  border: 1px white solid;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.search-bar {
  width: 30%;
  border-radius: 5px;
  padding-right: 5px;
  height: 4vh;
}

.search-button {
  height: 4.5vh;
  margin-left: 5px;
  border-radius: 5px;
  background-color: red;
  color: white;
}

